body, html{
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}
.main_warp{
  max-width: 412px;
  width: 100%;
  margin: 0 auto;
}
.banner {
  background: transparent no-repeat center center /cover;
  padding: 45px 0;
}

.top_header {
  height: 100px;
}

.banner h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  font-family: 'Lexend', sans-serif;
}
.content_wrap {
  padding: 50px 15px;
}

.content_wrap h2 {
  text-align: center;
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 15px;
  padding: 0;
}

.single_subs {
  display: flex;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;
  align-items: center;
  margin: 0 0 20px;
}

.content_left {
  width: 63%;
}

.content_left h3 {
  margin: 0 0 9px;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
ul.feature_list li {
  font-size: 8px;
  font-weight: 300;
  margin: 0 0 1px;
}

.content_right {
  width: 37%;
  padding: 10px 0 10px 10px;
  text-align: center;
  border-left: 1px solid #000;
}

.price {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.active {
  display: block;
  margin: 0 0 2px;
}

.btn_wrap a {
  display: inline-block;
  background: #0DA000;
  padding: 8px 13px;
  border-radius: 16px;
  font-size: 8px;
  line-height: 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
}

.btn_wrap  a.bg_red {
  background: #FF474D;
  margin-left: 6px;
}
.content_left h3 img {
  position: relative;
  top: 7px;
}
.subs_box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 50px;
  border: 1px solid #000;
  padding: 11px;
  border-radius: 10px;
  align-items: center;
}

.left {
  width: 44%;
}
.left h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;
}

.left h3 img {
  position: relative;
  top: 7px;
}
.right {
  width: 56%;
}
.meta_wrap {
  width: 60%;
  margin: 0 auto;
}

a.buy {
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 11px 0;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 30px;
}
.accrd {
  width: 100%;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 25px;
}

.acd_head, .view_head {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  padding-bottom: 0;
}

.acd_head img, .view_head img {
  position: absolute;
  right: 8px;
  top: 7px;
}
.accr-cont.main {
  display: block;
  padding-top: 7px;
}

ul.star i {
  font-size: 10px;
  margin: 0 2px;
  color: #FF9900;
}
.view-cont p {
  padding: 21px;
}
.view-cont.main {
  display: block;
}
@media (max-width:820px){
  .main_warp {
    max-width: 100%;
}
}